.post {
    width: 500px;
    border: 3px solid #ddd;
    display: flex;
    flex-direction: column;
    margin:20px auto;
    background-color: #fff;
    word-wrap: break-word;
}

.avatar{
    margin-right: 5px;
    cursor: pointer;
}

.username {
    font-size: 18px;
}

.content {
    padding: 10px;
}

.iconAndName {
    display: flex;
    align-items: center;
    padding: 10px;
}

.dataTime {
    text-align: right;
    margin-right: 10px;
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.minutes {
    color:#969696;
    font-size: 12px;
    margin-right: 5px;
}

.deleteBtn {
    border: none;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
}